<h1>Все составляющие проекта строительства</h1>
 
<table>
  <tr>
    <th><strong>Название</strong></th>
    <th>Цена за м<sup>2</sup> или %</th>
  </tr>
 
  <% @elements.each do |element| %>
    <tr>
      <td><%= element.name %></td>
      <td><%= element.price %> </td>
      <% if can? :read, Element %>
       <td><%= link_to 'Смотреть', element %></td> 
      <% end %>
      <% if can? :update, Element %>
         <td><%= link_to 'Редактировать цену', edit_element_path(element) %></td>
      <% end %>
      <% if can? :destroy, Element %>
         <td><%= link_to 'Удалить', element_path(element),
            method: :delete,
            data: { confirm: 'Вы уверены?' } %></td> 
      <% end %>
    
          
     
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Добавить новый елемент проекта', new_element_path %><br>
<%= link_to 'Перейти к форме', elements_form_path %>
