
<h1>Форма подсчета стоимости проекта.</h1><br><br>

<%= form_tag("welcome/sum", method: :get) do %>
  Архитектурный проект <%= check_box_tag 'archproject' %><br><br>
  Фундамент <%= number_field_tag 'fundament'%> м<sup>2</sup><br>
  Площадь <%= number_field_tag 'ploshad' %> м<sup>2</sup><br><br>
  Тип стен<br>
  СИП160 <%= number_field_tag 'sip160' %> м<sup>2</sup>, Каркас150 <%= number_field_tag 'karkas150' %> м<sup>2</sup><br><br>
  Наружная отделка<br>
  Сайдинг <%= number_field_tag 'saiding'%> м<sup>2</sup>, БлокХаус <%= number_field_tag 'blokhaus'%> м<sup>2</sup>, Штукатурка <%= number_field_tag 'shtukaturka'%> м<sup>2</sup><br><br>
  Внутренняя отделка <br>
  Вагонка <%= number_field_tag 'vagonka'%> м<sup>2</sup>, Гипсокартон <%= number_field_tag 'gipsokarton'%> м<sup>2</sup><br>
  Утепление <%= number_field_tag 'uteplenie'%> м<sup>2</sup>, (только при каркасном виде стен!!!)<br><br>
  Внутренние перегородки<br>
  Площадь <%= number_field_tag 'quantity'%> м<sup>2</sup><br>
  Тип стен: СИП120 <%= number_field_tag 'quantity'%> м<sup>2</sup>, Каркас90 <%= number_field_tag 'quantity'%> м<sup>2</sup><br>
  Отделка: Вагонка <%= number_field_tag 'quantity'%>м<sup>2</sup>, Гипсокартон <%= number_field_tag 'quantity'%>м<sup>2</sup><br>
  Утепление <%= number_field_tag 'quantity'%>м<sup>2</sup> (только при каркасном типе стен!)<br><br>
  Потолки<br>
  Площадь <%= number_field_tag 'quantity' %> м<sup>2</sup><br>
  Отделка потолка: Вагонка <%= number_field_tag 'quantity'%> м<sup>2</sup>, Гипсокартон <%= number_field_tag 'quantity'%> м<sup>2</sup><br><br>
  Перекрытие<br>
  Площадь <%= number_field_tag 'quantity' %> м<sup>2</sup><br>
  Утепление <%= number_field_tag 'quantity' %> м<sup>2</sup><br><br>
  Кровля<br>
  Площадь <%= number_field_tag 'quantity' %> м<sup>2</sup><br>
  Тип кровли: Битумная <%= number_field_tag 'quantity'%> м<sup>2</sup>, Металлочерепица <%= number_field_tag 'quantity'%> м<sup>2</sup><br>
  Утепление <%= number_field_tag 'quantity' %> м<sup>2</sup><br><br>
  Инженерия<br>
  Электрика <%= number_field_tag 'quantity' %>  комплектов<br>
  Водопровод <%= number_field_tag 'quantity' %>  комплектов<br>
  Канализация <%= number_field_tag 'quantity' %>  комплектов<br><br>
  Проемы<br>
  Входная дверь <%= number_field_tag 'quantity' %>  штук<br>
  Окна, площадь <%= number_field_tag 'quantity'%> м<sup>2</sup><br>
  <br>
  <%= submit_tag "Подсчитать стоимость" %>
<% end %>
